<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPageTitle</title>
     <script type="text/javascript" src="{{ url_for('static', filename='test.js') }}"> </script>
    <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
    <script type="application/javascript" src="http://jsonip.appspot.com/?callback=getip"> </script>
</head>
<body onload="bTesting()">
    <form method="POST" action="">
    </form>
<h1> Welcome</h1>
</body>
</html>