<!DOCTYPE html>
<html lang="en">

<head>
eel.expose(my_javascript_function);
function my_javascript_function(x,y,z)
{
	let heightOutput = window.innerHeight;
	let widthOutput = window.innerWidth;
	let sdepth = screen.colorDepth

	console.log(heightOutput)
	console.log(widthOutput)
	console.log(sdepth)
}

	<script>

	let heightOutput = window.innerHeight;
	let widthOutput = window.innerWidth;
	let sdepth = screen.colorDepth

	console.log(heightOutput)
	console.log(widthOutput)
	console.log(sdepth)
</script>

</head>

<body>


</body>

</html>
